<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="Data Source=den1.mssql7.gear.host;Initial Catalog={0};User ID=dojofitcarddb; Password=Mq63Qaa?~Xd8;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>